/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.7em;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
Gold MU Buttons
*/
.gold-btn {
  @extend %btn; 
  background-color: darken($gold, 10%);

  &:hover,
  &:focus {
    background-color: darken($gold, 15%);
  } // end hover

  &:active {
    background-color: darken($gold, 15%);
  } // end active

} // end gold MU button



/*
Mobile tab solution - added 9/23/04
*/

.transformer-tabs {
  ul {
    list-style: none;
    padding: 0;
    margin: 13px 0 0 0;
    border-bottom: 3px solid white;
  }
  li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    &:nth-child(1) .active {
      color: lighten(#666, 10%);
      border-bottom-color: $gold;
    }
    &:nth-child(2) .active {
      color: lighten(#666, 10%);
      border-bottom-color: $gold;
    }
    &:nth-child(3) .active {
      color: lighten(#666, 10%);
      border-bottom-color: $gold;
    }
    &:nth-child(4) .active {
      color: lighten(#666, 10%); 
      border-bottom-color: $gold;
    }
  }
  a {
    display: inline-block;
    color: $gold;
    text-decoration: none;
    padding: 0.5rem;
    &.active {
      border-bottom: 3px solid transparent;
      position: relative;
      bottom: -3px;
    }
  }
  @media (max-width: 700px) {
    ul {
      border-bottom: 0;
      overflow: hidden;
      position: relative;
      background: #dedede; /* fallback */
      background: $gold;
      &::after {
        content: "☰";
        position: absolute;
        color: #666;
        top: 8px;
        right: 15px;
        z-index: 2;
        pointer-events: none;
      }
      &.open {
        a {
          position: relative;
          display: block;
        }
      }
    }
    li {
      display: block;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &.active {
        border: 0;
        z-index: 1;
        background: lighten($gold,5%); /* fallback */
      }
    }
  }
}

.tabs {
  > div {
    display: none;
    padding: 0rem;
    &:nth-of-type(1) {
      background: #ffffff; 
    }
    &:nth-of-type(2) {
      background: #ffffff; 
    }
    &:nth-of-type(3) {
      background: #ffffff; 
    }
    &:nth-of-type(4) {
      background: #ffffff; 
    }
  }
  > .active {
    display: block;
  }
}
